@media screen and (min-width: 480px) and (max-width: 710px) {
  #navbar {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0px;
    padding: 0px;
  }
}

@media screen and (max-width: 479px) {

  #navbar {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  #navbar div {
    max-width: 100%;
    margin: 0px;
    padding: 0px;
  }

  #navbar-items ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }

  #navbar-items ul li a {
    padding: 5px;
    margin: 5px;
  }

  .content {
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    margin-top: 110px;
    margin-bottom: 30px;
  }

  #greetings {
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    margin: 0px;
  }

  #greetings p {
    margin: 10px;
  }

  #city-info {
    flex-wrap: wrap;
  }

  #city-info div {
    font-size: 2rem;
    margin: 0px 10px;
  }

  #city-weather {
    width: 100%;
    gap: 0px;
  }

  .city-weather {
    width: 100%;
    gap: 0px;
  }

  .weather-icon img {
    margin: -20px;
    width: 80px;
  }

  #name {
    font-size: 1.5rem;
  }

  .name p {
    font-size: 1.5rem;
  }

  #weather {
    font-size: 1rem;
  }

  .weather {
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .city-temperature {
    font-size: 2rem;
  }

  #saved-weathers-title {
    width: 100%;
    align-items: center;
    font-size: 2rem;
    margin: 10px;
  }

  #saved-weathers-title p {
    font-size: 1.5rem;
    margin: 0px 10px;
  }

  #saved-weathers {
    margin: 0px 0px 30px;
    width: 100%;
  }
  
  #saved-weathers-title {
    width: 100%;
    font-size: 1rem;
    margin: 10px 0px;
  }
}